body {
    padding: 0;
    margin: 0;
    font-family: 'Ariel', sans-serif;
    line-height: 25px;
  }
  .top--box {
    max-width: 1140px;
    margin: 0 auto;
  }

  .popup {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  .btn {
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    padding: 30px 20px;
    color: #ffffff;
    background-color: #e0c362;
    transition: all ease-out 0.4s;
  }
  .btn:active {
    transform: translateY(5px);
    filter: saturate(150%);
  }
  .btn:hover {
    color: #ff0000;
    background-color: #16d0ff;
  }
  
  .drop {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .close {
    font-size: 40px;
    cursor: pointer;
    color: #000;
    transition: all ease-out 0.3s;
  }
  .close:hover {
    color: #da0d0d
  }
  .drop--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    margin: 10% auto;
    width: 300px;
    padding: 5px;
  }
  .drop--title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  .drop--info {
    width: 100%;
    text-align: center;
  }
  
  .wrap {
    display: flex;
    justify-content: space-around;
  }
  
  .menu--box {
    cursor: pointer;
  }
  .menu {
    text-align: center;
    color: #ffffff;
    background-color: #e0c362;
    border-radius: 5px;
    margin: 0 3px;
    width: 150px;
    border: 1px solid #e0c362;
    border-radius: 15px;
    transition: all ease-out 0.4s;
  }
  .menu:hover {
    border: 1px solid #e0c362;
    color: #e0c362;;
    background-color: #ffffff;
  }
  .submenu {
    list-style: none;
    margin: 0;
    display: none;
    padding: 0;
  }
  .submenu li {
    background-color: #c4c4c4;
    color: #fff;
    margin: 2px auto;
    width: 75%;
    padding: 0;
    border-radius: 15px;
    border: 2px solid #c4c4c4;
    text-align: center;

    transition: all ease-out 0.3s;
  }
  .submenu li:hover {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    color: #c4c4c4;
  }
  
  .visible {
    display: block;
  }
  