body {
    margin: 0 auto;
    max-width: 1000px;
    /* height: 300px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;

    background-color: #c4c4c4;
}

section {
    text-align: center;
    border: 2px solid red;
    border-radius: 15px;
}

section > a {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    text-decoration: none;
    text-transform: uppercase;

    display: grid;
    justify-items: center;
    align-items: center;
}

.part__1 {
    background-color: aquamarine;
   
}
.part__2 {
    background-color: azure;
    
}
.part__3 {
    background-color: antiquewhite;
   
}
.part__4 {
    background-color: aliceblue;
   
}   
.part__5 {
    background-color: coral;
   
}